
@{
    ViewBag.Title = "Index";
}

<h2>Insight</h2>

<div class="imagesDiv">
    <div class="photo" id="ph"><img src="~/Images/0.jpg" alt="photo"/></div><div class="photo"><img src="~/Images/1.jpg" alt="photo" /></div><div class="photo"><img src="~/Images/2.jpg" alt="photo" /></div><div class="photo"><img src="~/Images/4.jpg" alt="photo" /></div>
</div>

<div id="photo-container"><div >
    <img id="photo1" alt="photo" src="~/Images/0.jpg"/>
    <button id="button">Close</button></div>
</div>